body, html { height: 100%; width: 100%; margin: 0; padding: 0; }
* { font-family: sans-serif; }

/*menu*/
#menu { width: 100%; position: fixed; top: 0; background-color: #35a3cc;  }
#menu ul { padding: 0; }
#menu li.menu-item { transition: 0.5s; display: inline-block; margin-left: 1%; cursor: pointer; }
#menu li.menu-item:hover { border-bottom: 2px solid #000; }
#menu li.menu-item a { color: #fff; text-decoration: none; }

#interface { display: flex; justify-content: center; flex-direction: row; height: 80%; width: 100%; margin-top: 5%; }

#left-side { width: 60%; margin: 1%;}
/*right side*/
#right-side { width: 30%; border-left: 2px solid #ccc; padding-left: 2%; margin: 1%; }
#right-side .social-media { width: 100%; display: flex; flex-direction: row; justify-content: center;flex-wrap: wrap; }
#right-side i { font-size: 2em; margin: 3%; cursor: pointer; }
#right-side #facebook { color: rgb(18, 81, 163);  }
#right-side #twitter { color: rgb(71, 220, 240); }
#right-side #instagram { background: linear-gradient(to right, rgb(248, 232, 86), rgb(102, 9, 105)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
#right-side #whatsapp { color: rgb(14, 163, 34); }
#right-side #youtube { color: #F00; }